$color_pink: #F72585; //#FD7BFF; 
$color_pink_dk: #c71565;
$color_orange_lt: #c6b699;
$color_orange: #E6AA19;
$color_orange_dk: #352706;
$color_blue: #329CBD;
$color_blue_md: #164554;
$color_purple_dk: #120012;
$color_gray_md: #2F2D2C;
$color_black: #050005;
$color_white_alpha10: rgba(255,255,255, 0.1);