<div class="site-container">
  <div class="site-background">
    <img id="Gear1" class="gear" src="/assets/images/Gear1-words.png" />
    <img id="Gear2" class="gear" src="/assets/images/Gear2.png" />
    <img id="Gear3" class="gear" src="/assets/images/Gear4.png" />
    <img id="Gear4" class="gear" src="/assets/images/Gear6.png" />
    <img id="Gear5" class="gear" src="/assets/images/Gear3.png" />
    <img id="Gear6" class="gear" src="/assets/images/Gear2.png" />
    <img id="Gear7" class="gear" src="/assets/images/Gear3.png" />
    <div class="site-background-overlay"></div>
  </div>

  <header>
    <h1 class="hidden">iMVentions LLC</h1>
  </header>

  <main>
    <img src="/assets/images/Logo_Full.svg" alt="iMVentions" />
    <div>
      <h2>
        Coming Soon...
      </h2>
      <p>
        My name is Mike Vondrak.<br/>
        <span class="company-name">
          <span>iM</span><span>Ventions LLC</span>
        </span>
        is my personal company.
      </p>
      <p>This is my placeholder site while I finish the real one.</p>
      <p>I do:</p>
      <ul>
        <li>Brand Building</li>
        <li>Custom Content Creation</li>
        <li>Website Design, Development, and Hosting</li>
      </ul>
      <p>
        If you are interested in a discussing a project, please
        <a href="mailto:mike@imventions.com" target="_blank">email me</a>.
      </p>
      <div class="link-container">
        <a href="mailto:mike@imventions.com" target="_blank" class="email-link">
          <img
            src="/assets/images/Email.svg"
            alt="Send an email to iMVentions"
          />
        </a>
      </div>
      <h2>For Larger or Data-Heavy Projects</h2>
      <p>
        If your project is bigger than a one person job, and/or has
        complex data handling requirements, check out my expert partners at
        <a href="https://fishbonedigital.io" target="_blank">Fishbone Digital</a
        >.
      </p>
      <div class="link-container">
        <a
          class="fishbone-logo-link"
          href="https://fishbonedigital.io"
          target="_blank"
        >
          <img
            src="/assets/images/Fishbone_Logo_Gunmetal.svg"
            alt="Visit Fishbone Digital"
          />
          <img src="/assets/images/Fishbone_Logo_Text.svg" alt="Visit Fishbone Digital" />
        </a>
      </div>
    </div>
  </main>

  <footer>
    <span class="company-name">
      <span>mike@iM</span><span>Ventions</span>
    </span>
    <img class="logo-compact" src="/assets/images/Logo_Compact.svg" />
  </footer>
</div>
