<div class="site-container">
  <div class="site-background">
    <img id="Gear1" class="gear" src="/assets/images/Gear1.png" />
    <img id="Gear2" class="gear" src="/assets/images/Gear2.png" />
    <img id="Gear3" class="gear" src="/assets/images/Gear4.png" />
    <img id="Gear4" class="gear" src="/assets/images/Gear6.png" />
    <img id="Gear5" class="gear" src="/assets/images/Gear3.png" />
  </div>

  <header>
    <h1>
      <span class="company-name"><span>iM</span><span>Ventions</span></span>
    </h1>
  </header>

  <main></main>

  <footer></footer>
</div>
